
.wrapper {
	
    display: grid;
    background-color: #ffffff;
	grid-template-rows: 0.25fr auto ; /* 170px 210px 61px 61px */
	grid-template-columns:  auto; /* 124px 376px 42px*/
	
	
}

.nav {
	grid-row: 1/2;
	grid-column: 1/2;

}

.main {
	grid-row: 2/3;
	grid-column: 1/2;

}


@media (min-device-width: 750px) and (max-device-width: 950px)  {
  

}
@media (max-device-width: 749px)  {
	.wrapper {
	  display: block;
	  background-color: orange;
	}
}


